
@import '~@angular/material/theming';
// Import your custom theme
@import 'src/theme.scss';


.container{
    height: 100%;
    width: 100%;
    background-image: url('assets/images/full-bloom.png');
    background-repeat: repeat;
    
}

.drop-zone{
    height: 80%;
    width: 80%;
    border: dashed 4px rgba(73, 145, 145, 0.61);
    border-radius: 4px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all ease-in-out 0.3s;
}

.drop-zone-border-filled{
   -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all ease-in-out 0.3s;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color:  rgba(73, 145, 145, 0.61);
    border: solid 4px rgba(73, 145, 145, 0.61);
}

.drop-zone-text{
    color:rgba(73, 145, 145, 0.61);
    font-size: 16pt;
    font-weight: 300;
}

.choose-file-text:hover{
    color:rgba(108, 238, 238, 0.61);
}

.box__file{
  display: none;
}

.file-layout{
    width: 95%;
    height: 95%;
}

.search-bar{
    width: 75%;
}

.square-stroke-primary{
    border:solid 1px mat-color($gallo-app-primary);
    color: mat-color($gallo-app-primary);
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.square-stroke-primary-filled{
    background-color:  rgba(73, 145, 145, 0.61);
}


.view-toggle{
    width: 115px;
}

.tab-icon{
    cursor: pointer;
    margin-top: 10px;
    font-size: 12pt;
}

.tab-text{
    font-size: 12pt;
    vertical-align: middle;
}