
<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <button mat-stroked-button (click)="getFiles()" color="accent">Get Files</button>
    <div class="drop-zone" [ngClass]="{'drop-zone-border-filled':clawHasFile}" fxLayout="column" fxLayoutAlign="center center"
        *ngIf="files.length == 0" (drop)="dropped($event)" (dragover)="draggingOver($event)" (dragleave)="draggingAway($event)">
        <img src="assets/icons/download.png" class="icon" />
        <input class="box__file" type="file" (change)="selectFile($event)" name="files[]" id="file"
            data-multiple-caption="{count} files selected" multiple />
        <label for="file" class="drop-zone-text">
            <strong class="choose-file-text">Choose a file</strong>
            <span class="box__dragndrop"> or drag it here</span>.</label>
    </div>
    <div fxLayout="column" fxLayoutALign="start stretch" class="file-layout" *ngIf="files.length > 0" (drop)="dropped($event)"
        (dragover)="draggingOver($event)" (dragleave)="draggingAway($event)">
        <span fxLayout="row" fxLayoutAlign="space-between center" fxFlex="65px">
            <span fxLayout="row" fxLayoutAlign="space-between center" class="view-toggle">
                <span class="square-stroke-primary" [ngClass]="{'square-stroke-primary-filled':selectedView == 1}"
                    fxLayout="column" fxLayoutALign="center center" (click)="selectedView = 1">
                    <mat-icon>list</mat-icon>
                </span>
                <span class="square-stroke-primary" [ngClass]="{'square-stroke-primary-filled':selectedView == 2}"
                    fxLayout="column" fxLayoutALign="center center" (click)="selectedView = 2">
                    <mat-icon>notes</mat-icon>
                </span>
                <span class="square-stroke-primary" [ngClass]="{'square-stroke-primary-filled':selectedView == 3}"
                    fxLayout="column" fxLayoutALign="center center" (click)="selectedView = 3">
                    <mat-icon>details</mat-icon>
                </span>
            </span>
            <mat-form-field class="search-bar">
                <input type="text" matInput [(ngModel)]="searchText" (ngModelChange)="triggerSearch($event)"
                    placeholder="Search">
            </mat-form-field>
            <button mat-stroked-button color="primary" (click)="clearFiles()">clear</button>
        </span>
        <mat-tab-group [selectedIndex]="sharedService.selectedTabIndex">
            <mat-tab *ngFor="let tiletab of files">
                <ng-template mat-tab-label class="tab-text">
                    <span fxLayout="row" fxLayoutAlign="space-between center" style="width:100%">
                        <span>{{tiletab.filename}}</span>
                        <mat-icon class="tab-icon" (click)="removeFile(tiletab)">close</mat-icon>
                    </span>
                </ng-template>
                <flat-list-view *ngIf="selectedView == 1" [metadata]="tiletab.meta"></flat-list-view>

                <group-list-view *ngIf="selectedView == 2" [metadata]="tiletab.meta"></group-list-view>

                <details-list-view *ngIf="selectedView == 3" [metadata]="tiletab.meta"></details-list-view>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>