
@import '~@angular/material/theming';
// Import your custom theme
@import 'src/theme.scss';



.container{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.meta-item{
    width: 100%;
    color: #808080;
    font-size: 16pt;
    padding: 8px;
    word-wrap: break-word;
}

.meta-item:hover{
    background-color:  rgba(73, 145, 145, 0.61);
    color: white;
}

.meta-name{
    width: 20%;
    min-width: 250px;
}
.group-name{
    font-size: 36pt;
    color:mat-color($gallo-app-primary);
    font-weight: 300;
    margin-bottom:10px;
    width: 100%;
}

.group-wrapper{
    width: 100%;
}