<div class="container">
    <div class="group-wrapper" *ngFor="let item of filteredGroupMeta" fxLayout="column" fxLayoutAlign="start stretch">
        <span class="group-name">{{item.groupName}}</span>
        <span class="meta-item" *ngFor="let metaitem of item.groupMeta">
            <span class="meta-name">{{metaitem.name}} : </span>
            <span>{{metaitem.value}}</span>
        </span>
    </div>
</div>