<div class="container" fxLayout="column" fxLayoutALign="start stretch">
    <span class="meta-item" *ngFor="let item of filteredFileMeta">
        <span class="meta-name">{{item.name}} : </span><span>{{item.value}}</span>
    </span>
</div>