.container{
    height: 100%;
    width: 100%;
}

.content{
    height: 200px;
    width: 200px;
}

.loading-gif{
    height: 100%;
    width: 100%;
}

.loading-text{
    font-size:24px;
    font-weight: 300;
}