<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <div class="content" fxLayout="column" fxLayoutAlign="space-between center">
        <div class="image-wrapper">
            <img src="assets/gifs/loader.gif" class="loading-gif"/>
        </div>
        <span class="loading-text">
            Loading ...
        </span>
    </div>
</div> 