html,body,app-root,layout{
    margin:0;
    height: 100%;
    width:100%;
    display:block;
  }
  
  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  h1, h2, h3, h4, h5, h6, p {
      margin: 0;
      padding: 0;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(184,184,184,1); 
  }
  
  
  ::-webkit-scrollbar
  {
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
  }
  
  
  ::-webkit-scrollbar-thumb
  {
  background: rgba(184,184,184,0.8);
  }
  

  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(assets/icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(assets/icons/MaterialIcons-Regular.woff2) format('woff2'),
      url(assets/icons/MaterialIcons-Regular.woff) format('woff'),
      url(assets/icons/MaterialIcons-Regular.ttf) format('truetype');
  }
  .material-icons { 
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }