@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$gallo-app-primary: mat-palette($mat-teal,400); 
$gallo-app-accent: mat-palette($mat-blue-grey,400);
$gallo-app-dark: mat-palette($mat-teal,900);

// The warn palette is optional (defaults to red).
$gallo-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$gallo-app-theme: mat-light-theme($gallo-app-primary, $gallo-app-accent, $gallo-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($gallo-app-theme);
 